<div class="container" id="con">
  <div class="row">
    <div class="col-sm-6">
      <h1 style="text-align: center;">Fill the Details</h1>
      <div class="mb-2">
        <input type="number" class="form-control" [(ngModel)]="empObj.id" placeholder="Enter the ID" />
  </div>
  <div class="mb-2">
    <input type="text" class="form-control" [(ngModel)]="empObj.empName" placeholder="Enter the Employee Name" />
</div>
<div class="mb-2">
  <input type="text" class="form-control" [(ngModel)]="empObj.empAddress" placeholder="Enter the Employee Address" />
</div>
<div class="mb-2">
  <input type="text" class="form-control" [(ngModel)]="empObj.empPhone" placeholder="Enter the Phone Number" />
</div>
<div class="mb-2">
  <input type="file" class="form-control" (change)="onFileChange($event)" />
</div>
<div>
  <button type="button" (click)="onAddEmployee()" class="btn btn-success" style="width: 520px; padding: 5px; margin: 10px;">Add Employee</button>
  <button type="button" class="btn btn-warning" [routerLink]="['/']" style="width: 520px; padding: 5px; margin: 10px;">Back</button>
</div>
</div>
<div class="col-sm-6">
  <!-- <h1>Hello</h1> -->
</div>
</div>
</div>
