<h3>Add New Product</h3>
<div class="col-md-6">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <p>
                    <input [(ngModel)]="prodId" placeholder="Enter the Id" />
                </p>
                <p>
                    <input [(ngModel)]="prodName" placeholder="Enter the Name" />
                </p>
                <p>
                    <input [(ngModel)]="prodPrice" placeholder="Enter the Price" />
                </p>
                <p>
                    <input type="file" (change)="selectFile($event)" [(ngModel)]="prodImg" class="btn btn-outline-primary" style="width: 185px;" placeholder="Pick the Image" />
                </p>
                <p>
                    <button (click)="onInvokeFunc()" class="btn btn-danger" style="width:185px">Add Product</button>
                </p>
            </div>
        </div>
    </div>
</div>

