<style>

</style>

<body>

<h2>My Calculator</h2>
<div id="table1">
      <p>
        <input [(ngModel)]="value1" type="number" placeholder="First Value" class="btn btn-outline-primary"/>
        <select [(ngModel)]="operand" class="btn btn-secondary">
          <option>+</option>
          <option>-</option>
          <option>*</option>
          <option>/</option>
        </select>
        <input type="number" [(ngModel)]="value2" placeholder="Second Value" class="btn btn-outline-primary"/>
        <button (click)="onSubmit()" class="btn btn-secondary">=</button>
        <span>{{result}}</span>
      </p>


</div>
</body>
