#head{
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

