<div class="container">
  <hr>
  <h1 style="text-align: center;">Rights</h1>
  <hr>
<p>Copyright © 2017 Starmark.<br>

  All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law. For permission requests, write to the publisher, addressed “Attention: Permissions Coordinator,” at the address below.
  <br>
  <br>
  ISBN: 978-0-000000-0 (Paperback)
  ISBN: 978-0-000000-0 (Hardcover)
  <br>
  <br>
  Library of RCM Control Number: 00000000000
  <br>
  <br>
  Any references to historical events, real people, or real places are used fictitiously. Names, characters, and places are products of the author’s imagination.
  <br>
  Front cover image by Artist.
  Book design by Designer.
  <br>
  <br>
  Printed by DiggyPOD, Inc., in the United States of America.

  First printing edition 2017.

  Example Publisher
  111 Address St.
  City, State, 12345

  www.yourwebsite.com

  <br>
  <br>

  Copyright © 2017 Employee Management App.
  <br>
  <br>
  All rights reserved. This book or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a book review.
  <br>
  <br>
  Printed by DiggyPOD, Inc., in the United States of America.
  <br><br>
  First printing, 2017.
  <br><br>
  Example Publisher
  111 Address St.
  City, State, 12345
  <br>
  www.yourwebsite.com </p>
</div>
